<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">MovieBookingApp</a>
      <form class="d-flex" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button> -->
        <button type="button" class="btn btn-outline-primary"  routerLink="/login">login</button>
        <button type="button" class="btn btn-outline-primary"  routerLink="/signup">Signup</button>
      </form>
    </div>
  </nav>
<!-- <h3>routing</h3>
<nav>
    <h3>
        <a routerLink="/">Home</a><br>
        <a routerLink="/movie">Movie</a><br>
        <a routerLink="/ticket">Ticket</a><br>
        <a routerLink="/login">Login</a><br>
        <a routerLink="/signup">Signup</a>

    </h3>
</nav> -->